
JavaEE/ServletsExercicios/ExemploSession/.settings/.jsdtscope
JavaEE/ServletsExercicios/ExemploSession/.project
JavaEE/ServletsExercicios/ExemploSession/.classpath
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.core.resources.prefs
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.jdt.core.prefs
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.wst.common.component
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.wst.common.project.facet.core.xml
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.wst.jsdt.ui.superType.container
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.wst.jsdt.ui.superType.name

JavaEE/ServletsExercicios/ExemploScriptlet/.settings/org.eclipse.jdt.core.prefs
*.xml
*.name
*.MF
*.component
/JavaEE/ServletsExercicios/ExemploScriptlet/.settings
JavaEE/ServletsExercicios/ExemploScriptlet/.classpath
JavaEE/ServletsExercicios/ExemploScriptlet/.project
JavaEE/ServletsExercicios/Servers/Tomcat v7.0 Server at localhost-config/server.xml
JavaEE/ServletsExercicios/Servers/Tomcat v7.0 Server at localhost-config/server.xml
JavaEE/ServletsExercicios/ExemploJavaBeans/.classpath
JavaEE/ServletsExercicios/ExemploJavaBeans/.project
JavaEE/ServletsExercicios/ExemploJavaBeans/.settings/.jsdtscope
JavaEE/ServletsExercicios/ExemploJavaBeans/.settings/org.eclipse.core.resources.prefs
JavaEE/ServletsExercicios/ExemploJavaBeans/.settings/org.eclipse.jdt.core.prefs
JavaEE/ServletsExercicios/ExemploJavaBeans/.settings/org.eclipse.wst.jsdt.ui.superType.container
JavaEE/ServletsExercicios/ExemploJavaBeans/build/classes/com/patrickriibeiro/javabeans/Automovel.class
JavaEE/ServletsExercicios/ExemploJSTL/.classpath
JavaEE/ServletsExercicios/ExemploJSTL/.project
/JavaEE/ServletsExercicios/ExemploJSTL/.settings
/JavaEE/ServletsExercicios/ExemploJSTL/build/classes
/JavaEE/ServletsExercicios/javax.faces-2.1.10
/JavaEE/ServletsExercicios/libraries
/JavaEE/ServletsExercicios/ExemploJSF/.settings
JavaEE/ServletsExercicios/ExemploJSF/.classpath
JavaEE/ServletsExercicios/ExemploJSF/.metadata/src/main/webapp/WEB-INF/faces-config.pageflow
JavaEE/ServletsExercicios/ExemploJSF/.project
JavaEE/ServletsExercicios/CartaoWebServiceClient/.project
/JavaEE/ServletsExercicios/CartaoWebServiceClient/build
JavaEE/ServletsExercicios/CartaoWebServiceClient/.settings/org.eclipse.wst.jsdt.ui.superType.container
JavaEE/ServletsExercicios/CartaoWebServiceClient/.settings/org.eclipse.jdt.core.prefs
JavaEE/ServletsExercicios/CartaoWebService/src/main/webapp/WEB-INF/CartaoService/com/patrickriibeiro/ws/deploy.wsdd.bak
JavaEE/ServletsExercicios/CartaoWebService/src/main/webapp/WEB-INF/CartaoService/com/patrickriibeiro/ws/deploy.wsdd
JavaEE/ServletsExercicios/CartaoWebService/.settings/org.eclipse.wst.jsdt.ui.superType.container
JavaEE/ServletsExercicios/CartaoWebService/.project
JavaEE/ServletsExercicios/CartaoWebService/.classpath
JavaEE/Anotações/Processamento.pdf
JavaEE/ServletsExercicios/CartaoWebServiceClient/.settings/.jsdtscope
JavaEE/ServletsExercicios/CartaoWebServiceClient/.settings/org.eclipse.core.resources.prefs
JavaEE/ServletsExercicios/CartaoWebServiceClient/.classpath
JavaEE/ServletsExercicios/CartaoWebService/.settings/org.eclipse.jdt.core.prefs
JavaEE/ServletsExercicios/CartaoWebService/.settings/org.eclipse.core.resources.prefs
JavaEE/ServletsExercicios/CartaoWebService/.settings/.jsdtscope
JavaEE/ServletsExercicios/CartaoWebService/src/main/webapp/WEB-INF/CartaoService/com/patrickriibeiro/ws/undeploy.wsdd
