
JavaEE/ServletsExercicios/ExemploSession/.settings/.jsdtscope
JavaEE/ServletsExercicios/ExemploSession/.project
JavaEE/ServletsExercicios/ExemploSession/.classpath
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.core.resources.prefs
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.jdt.core.prefs
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.wst.common.component
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.wst.common.project.facet.core.xml
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.wst.jsdt.ui.superType.container
JavaEE/ServletsExercicios/ExemploSession/.settings/org.eclipse.wst.jsdt.ui.superType.name

JavaEE/ServletsExercicios/ExemploScriptlet/.settings/org.eclipse.jdt.core.prefs
*.xml
*.name
*.MF
*.component
/JavaEE/ServletsExercicios/ExemploScriptlet/.settings
JavaEE/ServletsExercicios/ExemploScriptlet/.classpath
JavaEE/ServletsExercicios/ExemploScriptlet/.project
JavaEE/ServletsExercicios/Servers/Tomcat v7.0 Server at localhost-config/server.xml
JavaEE/ServletsExercicios/Servers/Tomcat v7.0 Server at localhost-config/server.xml
JavaEE/ServletsExercicios/ExemploJavaBeans/.classpath
JavaEE/ServletsExercicios/ExemploJavaBeans/.project
JavaEE/ServletsExercicios/ExemploJavaBeans/.settings/.jsdtscope
JavaEE/ServletsExercicios/ExemploJavaBeans/.settings/org.eclipse.core.resources.prefs
JavaEE/ServletsExercicios/ExemploJavaBeans/.settings/org.eclipse.jdt.core.prefs
JavaEE/ServletsExercicios/ExemploJavaBeans/.settings/org.eclipse.wst.jsdt.ui.superType.container
JavaEE/ServletsExercicios/ExemploJavaBeans/build/classes/com/patrickriibeiro/javabeans/Automovel.class
JavaEE/ServletsExercicios/ExemploJSTL/.classpath
JavaEE/ServletsExercicios/ExemploJSTL/.project
/JavaEE/ServletsExercicios/ExemploJSTL/.settings
/JavaEE/ServletsExercicios/ExemploJSTL/build/classes
